---
interface Props {
    id: number;
    src: string;
    movieTitle: string;
    year: number;
    userRating: number;
    duration: number;
}

const { id, src, movieTitle, year, userRating, duration } = Astro.props;

---

<div class="movie-card">

    <a href=`${id}`>
      <figure class="card-banner">
        <img src=`${src}` alt=`${movieTitle}`>
      </figure>
    </a>

    <div class="title-wrapper">
      <a href="./movie-details.html">
        <h3 class="card-title">{movieTitle}</h3>
      </a>

      <time datetime=`${year}`>{year}</time>
    </div>

    <div class="card-meta">
      <div class="badge badge-outline">2K</div>

      <div class="duration">
        <ion-icon name="time-outline"></ion-icon>

        <time datetime="PT47M">{duration}</time>
      </div>

      <div class="rating">
        <ion-icon name="star"></ion-icon>

        <data>{userRating}</data>
      </div>
    </div>

  </div>